.size-logo{
    width: 200px;
    text-align: center;
    color: white;
    padding: 20px;
}

.bg-dark-blue{
background-color: rgb(0, 0, 33);
}

.c-main{
    background-color: rgb(13, 64, 90);
}

.size-footer{
    background-color: black;
    height: 80px;
}